#dd1 {
    border: 1px solid black;
    padding: 9px;
}

#debian {
    margin: 11px;
    float: left;
}

#dd3 {
    background-color: slategrey;
    margin: 10px;
}

.aaa {
    position: fixed;
    top: 114px;
    left: 114px;
    width: 425px;
    height: 425px;
}

.aaa:active {
    visibility: hidden;
}

#dd3:hover {
    background-color: orangered;
}
