#dd1 {
    border: 1px solid black;
    padding: 9px;
}

#debian {
    margin: 11px;
    float: left;
}

#dd3 {
    background-color: slategrey;
    margin: 10px;
}

.aaa {
    display: block;
    position: absolute;
    top: 105px;
    left: 105px;
    width: 475px;
    height: 475px;
}